#headerTitle{
	width: 500px;
	margin: 10px calc(50vw - 15px - 250px);
}

input{
	font-size: 30px;
	cursor: pointer;
}

.cartDiv{
	display: flex;
	font-size: 30px;
	height: 100px;
}

.cartDiv > p, .cartDiv > input{
	height: 97.6px;
	margin: 0;
	border: 1px solid #808080;
	border-bottom: 2px solid black;

	/*stretches the elements to fill the horizontal space*/
	flex:1;
}

.cartDiv > input{
	height: 100px;
}

p.productName{
	border-left-style: none;
}

input.removeFromCartButton{
	border-right-style: none;
}

.removeFromCartButton:hover{
	background-color: #ff4040;
}

#checkoutButton{
	width: 200px;
	margin: 20px calc(37.5vw - 100px);
	text-align: center;
	font-size: 40px;
	border-radius: 10px;
	border: 2px solid black;
}

#checkoutButton:hover{
	background-color: #f0f000;
}
