body{
  margin: 0;
  background-image: linear-gradient(#d8d8ff, #8080ff);
  background-repeat: no-repeat;
  background-size: cover;
  overflow-x: hidden;
}

header{
  margin: 15px;
  width: calc(100vw - 30px);
  font-size: 30px;
}

#headerTitle{
  position: relative;
  top: 5px;
  height: 100px;
  font-size: 80px;
  width: 400px;
  margin: 10px calc(50vw - 15px - 200px);
  text-align: center;
  background-color: #357dac;
  border: 2px solid white;
}

.logInOutButton{
  position: absolute;
  top: 30px;
  right: 130px;
  cursor: pointer;
}

#logInPopup:not(.hidden){
  position: absolute;
  top: 70px;
  right: 130px;
  background-color: #1970aa;
  display: flex;
  flex-direction: column;
}

#logInPopup > input{
  margin: 5px 10px;
  font-size: 20px;
	width: 200px;
}

#titleBarLinks{
  text-align: center;
  color: #156faa;
}

#titleBarLinks > a{
  margin: 10px;
  text-decoration: none;
}

.mainContentBox{
  margin: 25px calc(12.5vw - 2px);
  height: 506px;
  width: 75vw;
  background-color: #1970aa;
  border: 5px solid #808080;
}

.hidden{
  display: none;
}
